* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Outfit;
}

body{
  background-color: rgb(221, 221, 221);
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

}

.btn-container{
  aspect-ratio : 1 / 1;
  width: 500px;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  gap: 10px;
  background-color: rgb(66, 66, 66);
  padding: 10px;
  border-radius: 10px;
}

.btn{
  font-size: 5rem;
  font-weight: 700;
  border-radius: 10px;
  border: 0px;
}

/* MOBILE STYLING */

@media only screen and (max-width: 600px){

  .btn-container{
    width: 80%;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    gap: 7px;
    background-color: rgb(66, 66, 66);
    padding: 7px;
    border-radius: 10px;
  }
  
  .btn{
    font-size: 4rem;
    font-weight: 700;
    border-radius: 10px;
    border: 0px;
  }

}